.buttonArea {
  width: 100%;
  text-align: center;
}

.tweetButton {
  background-color: #00acee;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
}

.tweetButton:hover {
  background-color: #0078a6;
}

.buttonText {
  margin-left: 10px;
}
